* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Quicksand", sans-serif;
    background-color: #f4f4f4;
}

main {
    border: 2px solid violet;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border: 2px solid orange;
}

#page-logo a {

    font-size: 28px;
    text-decoration: none;
    color: #ffe100;
}


nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    border: 2px solid yellow;
    padding: 8px 14px;
}

nav a {
    text-decoration: none;
    color: yellow;
}

#hero {
    height: 450px;
    background-image: url("images/ocean.jpg");
    background-size: cover;
    background-position: center;
    border: 2px solid rgb(243, 151, 243);
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero-content {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 40px 80px;
    border-radius: 8px;
    text-align: center;
    color: white;
}

#hero-content h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

#hero-content p {
    margin-bottom: 20px;
    font-weight: 300;
}

#hero-content a {
    text-decoration: none;
    background-color: #ffe100;
    color: #333;
    padding: 10px 20px;
    border-radius: 6px;
    font-weight: bold;
}

#highlights {
    background-color: #ccf6f2;
    padding: 40px 60px;
    text-align: center;
}

#highlights h2 {
    margin-bottom: 30px;
}

#destinations {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.destination img {
    width: 100%;
    height: 150px;
    border-radius: 8px;
}

.destination p {
    margin-top: 10px;
}

.destination strong {
    color: #4abaad;
}

footer {
    border: 2px solid orange;
    background-color: #111;
    padding: 20px;
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 40px;
}

footer img {
    width: 30px;
}