* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 20px;
}

form {
    margin: 10px;
    padding: 20px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.top {
    display: flex;
    gap: 20px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
}

textarea {
    height: 220px;
}

.bot {
    display: flex;
    justify-content: space-between;
}

button {
    padding: 10px;
    background-color: rgb(104, 199, 243);
    color: white;
    border: 1px solid rgb(67, 168, 236);
    border-radius: 4px;
}

small {
    color: rgb(138, 151, 151);
}